/*----------------
    VARIABLES
-----------------*/
:root{
    --ms-primary-color:#2c3e50;
}

/*----------------
    VARIABLES
-----------------*/

/*----------------
    UTILITES
-----------------*/
.ms-bg-primary-color{
    color: rgb(246, 241, 241);
    background-color: var(--ms-primary-color);
}

.ms-container{
    max-width: 980px;
}

/*----------------
     UTILITES
-----------------*/




/*----------------
     HEADER
-----------------*/

.ms-main-nav ul{
    justify-content: end;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.ms-main-nav li{
    padding: 0 0.5rem;
}

.ms-main-nav a{
    text-decoration: none;
    color: rgb(246, 241, 241);
}

/*----------------
     HEADER
-----------------*/




/*----------------
       MAIN
-----------------*/

.ms-start-bootstrap{
    background-color:#1abc9c ;
}

.ms-bg-column{
    background-color: yellow;
}

.ms-about{
    background-color: #1abc9c;
}