/*----------------
    VARIABLES
-----------------*/
:root{
    --ms-primary-color:#2c3e50;
}

/*----------------
    VARIABLES
-----------------*/

/*----------------
    UTILITES
-----------------*/
.ms-bg-primary-color{
    background-color: var(--ms-primary-color);
}

/*----------------
     UTILITES
-----------------*/

/*----------------
     HEADER
-----------------*/

.ms-main-nav ul{
    justify-content: end;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

.ms-main-nav li{
    padding: 0 0.5rem;
}

.ms-main-nav a{
    text-decoration: none;
    color: black;
}